<div class="row" *ngIf="!isLoading">
  <div class="col-12">
    <h1 *ngIf="images.length > 0">{{nameFilter}}</h1>
    <h1 *ngIf="images.length === 0">No se encontraron resultados para: {{nameFilter}}</h1>
  </div>
  <div class="col-lg-3 col-12 col-md-4 mt-2" *ngFor='let image of images'>
    <mat-card class="container-card">
      <mat-card-header>
        <mat-card-title>Tipo de imagen:</mat-card-title>
        <mat-card-subtitle>{{image.type}}</mat-card-subtitle>
      </mat-card-header>
      <div class="container-img-card mt-2">
        <img mat-card-image class="image-card" [src]="image.largeImageURL" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-actions>
        <div class="mat-flex-container">
          <div class="mat-button-container">
            <button mat-raised-button mat-mini-fab color="accent" (click)="openDialog(image)">
              <mat-icon>settings_overscan</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row justify-content-center heigth-total" *ngIf="isLoading">
  <div class="col-lg-2 col-md-3 col-4 align-self-center">
      <mat-spinner [diameter]="80" mode="indeterminate"></mat-spinner>
  </div>
</div>
