<section>
  <mat-toolbar color="primary" class="example-toolbar">
    <mat-toolbar-row>
      <h1 *ngIf="!isSmallScreen">{{ title }}</h1>

      <span class="spacer-header"></span>

      <div class="search-form">
        <app-filter-search [searchFilter]="searchFilterParent" (sendSearchFilter)="searchFilter($event)"></app-filter-search>
      </div>

      <span class="spacer-header"></span>
      <ng-container *ngTemplateOutlet="!isSmallScreen ? not_responsive : responsive">
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>
</section>

<ng-template #not_responsive>
  <button mat-button [matMenuTriggerFor]="selectorCategories">
    {{categoryCurrent.name}}
    <mat-icon>
      arrow_drop_down
    </mat-icon>
  </button>
</ng-template>

<ng-template #responsive>
  <button mat-icon-button>
    <mat-icon aria-hidden="false" aria-label="vertical-icon" [matMenuTriggerFor]="selectorCategories">more_vert
    </mat-icon>
  </button>
</ng-template>

<mat-menu #selectorCategories="matMenu" xPosition="after">
  <app-filter-categories [categories]="categories" (categoryCurrent)="selectCategoryCurrent($event)"></app-filter-categories>
</mat-menu>
